<div class="main-content">
  <form nz-form [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label>Enter PAN</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="PAN" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Verify</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-divider></nz-divider>

  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      Name in PAN Site
    </div>
    <div nz-col nzMd="8">
      ABCDE1234M
    </div>
  </div>
  <h4>Type of Accounts</h4>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      Trading
    </div>
    <div nz-col nzMd="8">
      YES
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      DP
    </div>
    <div nz-col nzMd="8">
      YES
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      PMS DP
    </div>
    <div nz-col nzMd="8">
      YES
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      PMS TRADING & DP
    </div>
    <div nz-col nzMd="8">
      YES
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      B2B
    </div>
    <div nz-col nzMd="8">
      YES
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      Type of Client
    </div>
    <div nz-col nzMd="8">
      Resident Individual
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      Location
      <div nz-col nzMd="8">
        VY
      </div>
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      KRA Status
      <div nz-col nzMd="8">
        KRA Registered
      </div>
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      CKYC Status
      <div nz-col nzMd="8">
        NA
      </div>
    </div>
  </div>
  <div nz-row nzGutter="5">
    <div nz-col nzMd="8">
      KYC Updated Date
      <div nz-col nzMd="8">
        27/04/19
      </div>
    </div>
  </div>
</div>