<div class="main-content">
  <form nz-form nzLayout="vertical">
    <!-- <div nz-col nzMd="20" nzLg="10">
      <h3 class="content-title"> Auto Allocation</h3>
    </div> -->

    <div nz-row nzGutter="8" style="margin-left: 12px">
      <p style="font-size: 20px"><b>Auto Allocation </b></p>
      <label style="color: #333232 ; font-size: 12px;"> <b>Employee Code :</b></label>

      <input nz-input style="width:300px;left: 20px;" [(ngModel)]="empcode" name="emp"  (ngModelChange)="onChangeemployeecode($event)"/>
      <button nz-button nzType="primary" style="width: 70px;margin-left: 24px;" (click)="Search()"> Search</button>
      <button nz-button nzType="primary" style="width: 50px;margin-left: 1px;background-color:rgb(228, 130, 19);"
        (click)="Save()"> Save</button>
      <button nz-button nzType="primary" style="width: 60px;margin-left: 1px; background-color:green;"
        (click)="View()">View</button>
      <button nz-button nzType="primary" style="width: 60px;margin-left: 1px; background-color:rgb(66, 222, 250);"
        (click)="Reset()">Reset</button>
    </div>
    <br>
    <div>
      <label style="color: #333232 ; font-size: 12px;"> <b>Employee Name : </b></label>
      <input nz-input style="width:300px;left: 7px;" [(ngModel)]="empname" readonly  name="empnme" />
    </div>

    <br>
    <div>
      <label style="color: #333232 ; font-size: 12px;"> <b>Entry Type : </b></label>
      <!-- <input nz-input style="width:300px;left: 7px;" [(ngModel)]="entryType" readonly  name="entryType" /> -->
          <nz-select class="entryselect" [(ngModel)]="entryType" name  = "entryType">
            <nz-option nzValue="All" nzLabel="All"></nz-option>
            <nz-option nzValue="Address" nzLabel="Address"></nz-option>
            <nz-option nzValue="Bank" nzLabel="Bank"></nz-option>
            <nz-option nzValue="Email" nzLabel="Email"></nz-option>
            <nz-option nzValue="Mobile" nzLabel="Mobile"></nz-option>
            <nz-option nzValue="Telephone" nzLabel="Telephone"></nz-option>
            <nz-option nzValue="Nominee" nzLabel="Nominee"></nz-option>
            <nz-option nzValue="Financials" nzLabel="Financials"></nz-option>
            <nz-option nzValue="KRA" nzLabel="KRA"></nz-option>
            <nz-option nzValue="SignatureUpdation" nzLabel="Signature Updation"></nz-option>
            <nz-option nzValue="ModeofOperation" nzLabel="Mode Of Operation"></nz-option>
            <nz-option nzValue="SegmentAddition" nzLabel="Segment Addition"></nz-option>
          </nz-select>
    </div>

    <br>
    <div nz-row #basicDPDetailsTable *ngIf="DetailData.length" #htmlView>
      <nz-table #basicDPDetailsTable [nzData]="DetailData" [nzPageSize]=15 [nzShowPagination]="true" nzSize="small"
        [nzShowPagination]="basicDPDetailsTable.data1.length>10" class="tranTbl table-responsive table-themed">
        <thead>
          <tr>

            <th *ngFor="let header of detailDataTitles;let i= index"
              [ngClass]="[header=='selectedtopool' ? 'display':'',header=='rowId' ? 'display':'']">
              <span>{{header}}</span>

            </th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicDPDetailsTable.data;let i = index" class="resulttable">
            <td *ngFor="let header of detailDataHeads">

              <span> {{data[header]}}</span>
            </td>
            <td id="txt" (click)="Deleterow(data)">Delete</td>

          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</div>
<app-loader *ngIf="isSpining"></app-loader>
