.padding1{
  padding-top: 0.4rem
}

:host {
  ::ng-deep {
    .ant-table-small {
      border: none;
    }

    .highlighted {
      background: #d3edfa !important;
  }

    .ant-input::placeholder {
      color: rgb(122, 124, 123) !important;
      font-size: 12px;
  }

  .ant-select-search__field__placeholder,
  .ant-select-selection__placeholder {
      color: rgb(122, 124, 123) !important;
  }

  .ant-select::placeholder {
      color: rgb(122, 124, 123) !important;
      font-size: 12px;
  }
    }
  }
.form1{
  margin-right: 2px
}
