<div class="main-content">
          <div  nz-row nzType="flex"    class="headerlist" style="padding-left: 15px;padding-right: 10px;" >
          <div nz-col nzSpan='2.5' class="mt-15">
      <div  class="most-visited" [class.higlight]="showcomp" (click)="showComp('book')" >
        <div  class="imgRound">
            <img src="assets/img/booklet.png"  style="width: 31px;
            border-radius: 18px;" class="ng-star-inserted">
            <!-- <i nz-icon type="book"></i> -->
        </div>
          <div title="Book Received At HO" class="names" style="direction: ltr;cursor: pointer">
           HO Booklet Receive  
          </div>
      </div>
      <div class="arrow">
      <i style="color: #175a92;" nz-icon type="arrow-right"></i>
    </div>
  </div>
  <div nz-col nzSpan='2.5' class="mt-15">
      <div class="most-visited" [class.higlight]="showcomp1" (click)="showComp('auditallocation')">
          <div class="imgRound">
              <img src="assets/img/auditor.png"   style="width: 32px;border-radius: 16px;" class="ng-star-inserted">
          </div>
            <div title="Audit Allocation" class="names" style="direction: ltr;cursor: pointer">
              Auditor Allocation
            </div>
        </div>
        <div class="arrow">
            <i style="color: #175a92;" nz-icon type="arrow-right"></i>
          </div>
        </div>
        <div nz-col nzSpan='2.5' class="mt-15">
        <div class="most-visited" [class.higlight]="showcomp2" (click)="showComp('auditoracceptance')">
            <div class="imgRound">
                <img src="assets/img/accept.png" style="width: 30px;
                border-radius: 15px;" class="ng-star-inserted">
            </div>
              <div title="Audit Acceptance" class="names" style="direction: ltr;;cursor: pointer">
                  Auditor Acceptance
              </div>
          </div>
          <div class="arrow">
              <i style="color: #175a92;" nz-icon type="arrow-right"></i>
            </div>
          </div>
        <div nz-col nzSpan='2.5' class="mt-15">
            
          <div class="most-visited" [class.higlight]="showcomp4" (click)="showComp('auditorreview')">
              <div class="imgRound">
                  <img src="assets/img/auditor.png" style="width: 30px;
                  border-radius: 15px;" class="ng-star-inserted">
              </div>
                <div title="Audit Review" class="names" style="direction: ltr;;cursor: pointer">
                    Auditor Review
                </div>
            </div>
           
              <div class="arrow">
                  <i style="color: #175a92;" nz-icon type="arrow-right"></i>
                </div>
              </div>
        <div nz-col nzSpan='2.5' class="mt-15">

                <div class="most-visited" [class.higlight]="showcomp3" (click)="showComp('gfslacceptance')">
                    <div class="imgRound">
                        <img src="assets/img/accept.png" style="width: 31px;
                        border-radius: 18px;" class="ng-star-inserted">
                    </div>
                      <div title="HO Acceptance" class="names" style="direction: ltr;;cursor: pointer">
                          HO Acceptance
                      </div>
                  </div>
                  <div class="arrow">
                      <i style="color: #175a92;" nz-icon type="arrow-right"></i>
                    </div>
                  </div>
        <div nz-col nzSpan='2.5' class="mt-15">
        
          <div class="most-visited" [class.higlight]="showcomp5" (click)="showComp('horeview')">
              <div class="imgRound">
                  <img src="assets/img/auditor.png" style="width: 31px;
                  border-radius: 18px;" class="ng-star-inserted">
              </div>
                <div title="HO Review" class="names" style="direction: ltr;;cursor: pointer;margin-left: -5px;">
                    HO Review
                </div>
            </div>
            <div class="arrow">
                <i style="color: #175a92;" nz-icon type="arrow-right"></i>
              </div>
            </div>
            <div nz-col nzSpan='2.5' class="mt-15">

              <div class="most-visited" [class.higlight]="showcomp8"  (click)="showComp('box')">
                  <div class="imgRound">
                      <img src="assets/img/booklet.png" style="width: 31px;
                      border-radius: 18px;" class="ng-star-inserted">
                  </div>
                    <div title="Box Number Generation" class="names" style="direction: ltr;;cursor: pointer;margin-left: -42px;">
                        Box Number Generation
                    </div>
                </div>
                <div class="arrow">
                    <i style="color: #175a92;" nz-icon type="arrow-right"></i>
                  </div>
                </div>
            <div nz-col nzSpan='2.5' class="mt-15">

              <div class="most-visited" [class.higlight]="showcomp7"  (click)="showComp('store')">
                  <div class="imgRound">
                      <img src="assets/img/booklet.png" style="width: 31px;
                      border-radius: 18px;" class="ng-star-inserted">
                  </div>
                    <div title="Store Verification" class="names" style="direction: ltr;;cursor: pointer;margin-left: -20px;">
                        Store Verification
                    </div>
                </div>
                <div class="arrow">
                    <i style="color: #175a92;" nz-icon type="arrow-right"></i>
                  </div>
                </div>
                <div nz-col nzSpan='2.5' class="mt-15"> 

            <div class="most-visited" [class.higlight]="showcomp6" (click)="showComp('Reports')">
                <div class="imgRound">
                    <img src="assets/img/booklet.png" style="width: 31px;
                    border-radius: 18px;" class="ng-star-inserted">
                </div>
                  <div title="Reports" class="names" style="direction: ltr;;cursor: pointer;margin-left: 4px;">
                      Reports
                  </div>
              </div>
            </div>
  

            <!-- <div class="arrow">
                <i style="color: #175a92;" nz-icon type="arrow-right"></i>
              </div>
            <div class="most-visited">
                <div class="imgRound">
                    <img src="http://dev-spice.fliplabs.net/spice-images/assets/mis.png" style="width: 30px;
                    border-radius: 15px;" class="ng-star-inserted">
                </div>
                  <div title="Audit Approval" class="names" style="direction: ltr;;cursor: pointer">
                    Auditor Approval
                  </div>
              </div>
              <div class="arrow">
                  <i style="color: #175a92;" nz-icon type="arrow-right"></i>
                </div>
              <div class="most-visited">
                  <div class="imgRound">
                      <img src="http://dev-spice.fliplabs.net/spice-images/assets/crd.png" style="width: 31px;
                      border-radius: 18px;" class="ng-star-inserted">
                  </div>
                    <div title="GFSL Followup & Closure" class="names" style="direction: ltr;;cursor: pointer">
                      GFSL Followup
                    </div>
                </div> -->
                
               
                  <!-- <div class="most-visited">
                      <div class="imgRound">
                         <img src="assets/img/spice.png" />
                      </div>
                        <div class="md-title" style="direction: ltr;">
                          Book Recieve
                        </div>
                    </div>
                  </div> -->
        <!-- </div>
</div> -->


</div>
<div  style="width:100vw">
    <div nz-row nzGutter="10" style="padding-top:150px;padding-left: 12px;padding-right: 10px;" [hidden]="showcomp||showcomp1||showcomp2||showcomp3||showcomp4||showcomp5||showcomp6||showcomp8||showcomp7">
        <div nz-col nzMd="12" nzLg="6" class="secondrow"  >
            <div  class="imgRoundsecond">
                <div class="imgRoundsecond2">{{StampCount}}</div>
                <!-- <img src="http://dev-spice.fliplabs.net/spice-images/assets/crd.png"  style="width: 31px;
                border-radius: 18px;" class="ng-star-inserted"> -->
                <!-- <i nz-icon type="book"></i> -->
            </div>
              <div title="Book Recieved At HO" class="namessecond" style="direction: ltr;cursor: pointer;font-size: 17px;margin-left: -16px;">
               Pending For Stamp Scanning
                
              </div>
          </div>
    
    
          <div nz-col nzMd="12" nzLg="6" class="secondrow" >
              <div class="imgRoundsecond">
                  <div class="imgRoundsecond2">{{BookletAtHOCount}}</div>
              </div>
                <div title="Audit Allocation" class="namessecond" style="direction: ltr;cursor: pointer;font-size: 17px;">
                Physical Booklet at HO
                </div>
            </div>
            <div nz-col nzMd="12"  nzLg="6" class="secondrow" >
                <div class="imgRoundsecond">
                  
                    <div class="imgRoundsecond2">{{ProgressCount}}/Min
                       
                    </div>
                    
                </div>
                  <div title="Audit Acceptance" class="namessecond" style="direction: ltr;cursor: pointer;font-size: 17px;margin-left: 57px;">
                     Progress
                  </div>
              </div>
            
              <div nz-col nzMd="12" nzLg="6" class="secondrow"  >
                  <div class="imgRoundsecond">
                  <div class="imgRoundsecond2">{{AuditorCount}}</div>    
                  </div>
                    <div title="Audit Preview" class="namessecond" style="direction: ltr;;cursor: pointer;font-size: 17px;margin-left: -16px;">
                        Auditor Compliance Pending
                    </div>
                </div>
             
    </div>
  </div>

        <!-- </div> -->
    <!-- <div style="text-align:center;position: relative;" *ngIf="showcomp || showcomp1"><i nz-icon type="up" *ngIf="showLeftSide===false" (click)="toggleCenter()"></i><i nz-icon type="down" *ngIf="showLeftSide===true" (click)="toggleCenter()"></i>
    </div> -->
    <div>
        <app-book-recieved *ngIf="showcomp"></app-book-recieved>
        <app-auditallocation *ngIf="showcomp1"></app-auditallocation>
        <app-auditoracceptance *ngIf="showcomp2"></app-auditoracceptance>
        <app-gfslacceptance *ngIf="showcomp3"></app-gfslacceptance>
        <app-auditorreview *ngIf="showcomp4"></app-auditorreview>
        <app-horeview *ngIf="showcomp5"></app-horeview>
        <app-reports *ngIf="showcomp6"></app-reports>
        <app-boxnumbergnrtn *ngIf="showcomp8"></app-boxnumbergnrtn>
        <app-storeverification *ngIf="showcomp7"></app-storeverification>
      </div>
        </div>



<!-- <div id="most-visited">
  <div id="mv-tiles" style="max-width: calc(var(--md-tile-width) * 5); opacity: 1;">
    <div class="md-tile-container" draggable="true">
      <a class="md-tile" tabindex="0" data-tid="1" data-pos="0" href="http://localhost:4300/#/" aria-label="LIME" title="LIME"><div class="md-tile-inner"><div class="md-icon md-icon-background"><img title="" alt="" src="chrome-search://ntpicon/?size=24%401x&amp;url=http%3A%2F%2Flocalhost%3A4300%2F%23%2F"></div><div class="md-title-container">
        <div class="md-title" style="direction: ltr;"><span>LIME</span>
        </div>
      </div>
    </div>
  </a><button class="md-menu md-edit-menu" title="Edit shortcut" aria-label="Edit shortcut LIME"></button>
</div>
<div class="md-tile-container" draggable="true">
  <a class="md-tile" tabindex="0" data-tid="2" data-pos="1" href="http://localhost:57439/SPARCWeb" aria-label="iSPARC [4.3.0.0]" title="iSPARC [4.3.0.0]">
    <div class="md-tile-inner"><div class="md-icon md-icon-background"><img title="" alt="" src="chrome-search://ntpicon/?size=24%401x&amp;url=http%3A%2F%2Flocalhost%3A57439%2FSPARCWeb"></div> -->