<div nz-row nzGutter="5" class="acOpeningMenu">
    <div nz-col nzMd="4" (click)="OpenNewTab('clientMaster')" class="acOpeningMenuItem"><i nz-icon nzType="user-add" nzTheme="outline"></i><br>AC Opening </div>
    <div nz-col nzMd="4" (click)="OpenNewTab('AcctOpeningrpt')" class="acOpeningMenuItem"><i nz-icon nzType="check-circle" nzTheme="outline"></i><br>AC Opening Approval</div>
    <div nz-col nzMd="4" (click)="OpenNewTab('ClientProfileEdit')" class="acOpeningMenuItem"><i nz-icon nzType="profile" nzTheme="outline"></i><br>Profile View</div>
    <div nz-col nzMd="4" (click)="OpenNewTab('crf')" class="acOpeningMenuItem"><i nz-icon nzType="edit" nzTheme="outline"></i><br>CRF</div>
    <div nz-col nzMd="4" (click)="OpenNewTab('crfrpt')" class="acOpeningMenuItem"><i nz-icon nzType="check-circle" nzTheme="outline"></i><br>CRF Approval</div> 
</div>