<div class="main-content">
  <form nz-form nzLayout="vertical">
    <div nz-row nzGutter="8">
      <div nz-col nzMd="20" nzLg="10">
        <h3 class="content-title">UCC File Generation</h3>
      </div>
      <div nz-col nzMd="28" nzLg="14" style="padding: 0;margin: 0" [hidden]="model.generationoresponse == 'R'">
        <form-handler (onPreview)="preview()" (onReset)="resetForm()" (onExportExcel)="download()"></form-handler>
      </div>
    </div>
    <div>
      <div nz-col nzMd="24" nzLg="24">
        <nz-radio-group [(ngModel)]="model.generationoresponse" (ngModelChange)="generationoresponseChange($event)"
          name="debittrade">
          <label nz-radio nzValue="G">Generation</label>
          <label nz-radio nzValue="R">Response</label>
        </nz-radio-group>
      </div>
      <div nz-row nzGutter="8">

        <div nz-col nzMd="2" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Product</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="ProductFindOpt" [(ngModel)]="model.Product" name="product">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="4" nzLg="2" *ngIf="model.generationoresponse == 'G'">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Tradecode</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="TradecodeFindopt" [(ngModel)]="model.Tradecode" name="Tradecode">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="4" nzLg="3" *ngIf="model.generationoresponse == 'G'">
          <nz-form-item>
            <nz-form-label class="boldinglabel"> From Date</nz-form-label>
            <nz-form-control>
              <nz-date-picker [(ngModel)]="model.From" name="LicenseFrom" nzFormat="dd-MM-yyyy">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="4" nzLg="3" *ngIf="model.generationoresponse == 'G'">
          <nz-form-item>
            <nz-form-label class="boldinglabel"> To Date</nz-form-label>
            <nz-form-control>
              <nz-date-picker [(ngModel)]="model.To" name="To" nzFormat="dd-MM-yyyy">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="4" nzLg="3" *ngIf="model.generationoresponse == 'G'">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Mode</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="model.mode" nzPlaceHolder="Mode" name="Mode" nzDropdownMatchSelectWidth="true">
                <nz-option *ngFor="let item of Modes" [nzLabel]="item.Mode" [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="2" nzLg="2" *ngIf="model.generationoresponse == 'G'">
          <nz-form-label>&nbsp;</nz-form-label>
          <label nz-checkbox [(ngModel)]="model.terminated" name="terminated">Terminated</label>
        </div>
        <div nz-col nzMd="4" nzLg="4" *ngIf="model.generationoresponse == 'G'">
          <nz-form-label>&nbsp;</nz-form-label>
          <label nz-checkbox [(ngModel)]="model.mobileandemailalert" name="terminated">NCDEX Mobile and Email Alert
            Only</label>
        </div>
        <div nz-col nzMd="4" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">File Type</nz-form-label>
            <nz-form-control>
              <nz-select [(ngModel)]="model.FileType" nzPlaceHolder="FileType" name="NEW"
                nzDropdownMatchSelectWidth="true">
                <nz-option *ngFor="let item of FileTypelist" [nzLabel]="item.FileType" [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="2" nzLg="3" *ngIf="model.generationoresponse == 'R'">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Upload Response File</nz-form-label>
            <nz-form-control>
              <!--<nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
              </nz-upload>-->
              <nz-upload [(nzFileList)]="file" [nzBeforeUpload]="fileChangeEvent()" nzLimit="1">
                <button nz-button>
                  <i nz-icon type="upload"></i><span>Select File</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="2" nzLg="2" *ngIf="model.generationoresponse == 'R'">
          <nz-form-label>&nbsp;</nz-form-label>
          <button type="primary" nz-button nzType="primary" class="mr-2" (click)="uploadresponse()">
            <span><i nz-icon type="upload" theme="outline"></i>Upload</span>
          </button>
        </div>
        <div nz-col nzMd="2" nzLg="1" *ngIf="model.generationoresponse == 'R'">
          <nz-form-label>&nbsp;</nz-form-label>
          <button type="primary" nz-button nzType="primary" (click)="reset()">
            Reset
          </button>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="8">


    </div>
  </form>
  <app-loader *ngIf="isSpinning"></app-loader>
</div>
<nz-table class="tranTbl table-responsive table-themed" [nzScroll]="{ y: '440px' }"
  *ngIf="showtable" [nzPageSize]=10 [nzShowPagination]=true #dataTable
  [nzData]="data">

  <tr style="color: #710505d9 !important">
    <td>
      <b>Slno</b>
    </td>
    <td *ngFor="let header of dataheader;let i = index">
      <b>{{header}}</b>
    </td>
  </tr>

  <tr *ngFor="let data of dataTable.data;let i = index">
    <td>
      {{i+1}}
    </td>
    <td *ngFor="let header of dataheader">{{data[header]}}
    </td>
  </tr>

</nz-table>
<nz-table class="tranTbl table-responsive table-themed" [nzScroll]="{ y: '440px' }" *ngIf="showrestable" [nzPageSize]=10 class="wdth"
  [nzShowPagination]=true #dataTable1 [nzData]="resdata" >

  <tr style="color: #710505d9 !important">
    <td>
      <b>Slno</b>
    </td>
    <td  *ngFor="let header of resdataheader;let i = index">
      <b>{{header}}</b>
    </td>
  </tr>

  <tr *ngFor="let data of dataTable1.data;let i = index">
    <td>
      {{i+1}}
    </td>
    <td  *ngFor="let header of resdataheader">{{data[header]}}
    </td>
  </tr>

</nz-table>