<!-- <div class="main-content"> -->
<form nz-form nzLayout="vertical">
  <nz-card>
    <div nz-row nzGutter="6">
      <ng-container *ngFor="let header of categoryHeader ; let i = index">
        <div nz-col nzMd="15" style="margin-top: 10px;"
          [ngClass]="{ 'active-card': toggled[header] , 'inactive-card': !toggled[header] }">
          <nz-form-control class="mt-3 mb-3 ml-2">
            <label class="switch1 col-lg-5 float-right float-right ">
              <input type="checkbox" [checked]="toggled[header]" [disabled]="isSaved"
                (change)="toggleAllCheckboxes(header)" />
              <span [class.active-slider]="toggled[header]" class="slider1 round1"></span>
            </label>
            <p class="subhead1 "><b>{{ header }}</b></p>

            <span *ngFor="let item of categryList[header]">
              <span class="pr-2 col-lg-4 col-sm-4 col-md-4 ">
                <span>
                  <label *ngIf="item.Product != 'COMMCX' && item.Product != 'COMNCDEX' " class="boldinglabelSegment"
                    [nzDisabled]="!toggled[header] || isSaved" name="{{item.Product}}" nz-checkbox
                    [(ngModel)]="item.ActiveFlag" (ngModelChange)="updateCategoryCheckboxState(header)">
                    {{ item.Product }}
                  </label>
                  <label *ngIf="item.Product == 'COMMCX'" class="boldinglabelSegment"
                    [nzDisabled]="!toggled[header] || isSaved" name="{{item.Product}}" nz-checkbox
                    [(ngModel)]="item.ActiveFlag" (ngModelChange)="updateCategoryCheckboxState(header)">
                    MCX
                  </label>
                  <label *ngIf="item.Product == 'COMNCDEX'" class="boldinglabelSegment"
                    [nzDisabled]="!toggled[header] || isSaved" name="{{item.Product}}" nz-checkbox
                    [(ngModel)]="item.ActiveFlag" (ngModelChange)="updateCategoryCheckboxState(header)">
                    NCDEX
                  </label>
                </span>
              </span>
            </span>
          </nz-form-control>
        </div>
      </ng-container>
    </div>


  </nz-card>
  <br><br>
  <nz-card *ngIf="AdditionalTCShow">
    <div nz-row nzGutter="5">
      <div nz-col nzMd="15">
        <nz-form-control>
          <label nz-checkbox [nzDisabled]="disableFld || isSaved" [(ngModel)]="additionaltc" readonly name="tc"
            (ngModelChange)="onticked($event)">
            I have ensured that I have made the client aware about the clauses mentioned in the Standard KYC
            document.
          </label>
        </nz-form-control>

      </div>
    </div>
  </nz-card>
  <br><br>
  <div
    *ngIf="applicationStatus=='P'||applicationStatus=='T'||applicationStatus=='A'||applicationStatus=='R'||applicationStatus=='F'">
    <app-crfipv></app-crfipv>
  </div>

  <div *ngIf="tab=='SegmentAddition'" style="margin-top: 10px; margin-bottom: 10px;">
    <crf-image-upload></crf-image-upload>
  </div>

  <div nz-row nzGutter="5">
    <div nz-col nzMd="15">
      <div nz-col nzSpan="5">
        <nz-form-label>{{Remks}}</nz-form-label>
      </div>
      <div nz-col nzSpan="15">
        <nz-form-item>
          <nz-form-control>
            <input nz-input [(ngModel)]="RejRemarks" name="rej" [nzAutocomplete]="remarks2" disabled />
            <nz-autocomplete #remarks2>
              <nz-auto-option *ngFor="let option of rejectionRemarks" [nzValue]="option.Remarks"
                [nzLabel]="option.Remarks" class="aleternateColor">
                <span [innerHTML]="option.Remarks"></span>
              </nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="applicationStatus=='P'">
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary" type="button" (click)="fetchReasons()"
            title="Click here for Rejection Reasons">Select</button>
        </div>
      </div>
    </div>
    <div nz-col nzMd="9">
      <p class="text-right">
        <button nz-button nzType="primary" type="button" (click)="onBackClick()">Back</button>
        <button nz-button nzType="primary" type="submit" (click)="SaveSegment('save')"
          *ngIf="saveButtonFlag && applicationStatus!='T'">Save</button>
        <!-- <button nz-button nzType="primary" type="submit" (click)="SaveAddress()"
            *ngIf="!isForApproval && canAdd && !ViewOnly ||!isForApproval && canModify&&!ViewOnly">Save</button> -->
        <button nz-button nzType="primary" type="submit" (click)="SaveSegment('savefinalise')"
          *ngIf="saveButtonFlag &&applicationStatus=='T'">Save and Finalize</button>
        <!-- <button nz-button nzType="primary" type="button" (click)="BranchReject()"
            *ngIf="saveButtonFlag && applicationStatus=='T'&&!HO">Branch Reject</button> -->
        <button nz-button nzType="primary" type="button"
          *ngIf="approveOrRejectButtonFlag || finalApproveOrRejectButtonFlag" (click)="Reject()">Reject</button>
        <!-- <button nz-button nzType="primary" type="button" *ngIf="approveOrRejectButtonFlag && editFlag"
            (click)="initialApprove()">First level Approve</button> -->
        <button nz-button nzType="primary" class="btnApprove1" type="button"
          *ngIf="finalApproveOrRejectButtonFlag ||  (approveOrRejectButtonFlag)" (click)="Approve()">Final
          Approve</button>
        <!-- <button nz-button nzType="primary" style="float: right;" type="button"
            *ngIf="requestID!=''&&!(approveOrRejectButtonFlag ||finalApproveOrRejectButtonFlag) "
            (click)="PrintForm()">Print {{tab}} Form</button> -->
      </p>
    </div>

    <div *ngIf="checkBoxArray.length!=0 || AllcheckboxArray.length!=0">
      <table class="RejectedTable">
        <thead style="text-align: center; background-color: #32aa8d; color: white;">
          <b>Rejected Reasons</b>
        </thead>
        <div *ngFor="let item of checkBoxArray; let i = index;">
          <tbody _ngcontent-c61="">
            <tr _ngcontent-c61="" class="ng-star-inserted">
              <td class="Sno"><b>{{i+1}}</b>
              </td>&nbsp;
              <td _ngcontent-c61="" class="RejectedList">
                <b> <input type="hidden" [checked]="checkBoxSelected"
                    [disabled]="Cbox_Disabled">{{item.Description}}</b>
              </td>
            </tr>
          </tbody>
        </div>
        <div *ngFor="let item of AllcheckboxArray; let i = index;">
          <tbody _ngcontent-c61="">
            <tr _ngcontent-c61="" class="ng-star-inserted">
              <td class="Sno"><b>{{i+1}}</b>
              </td>&nbsp;
              <td _ngcontent-c61="" class="RejectedList">
                <b> <input type="hidden" [checked]="checkBoxSelected" [disabled]="Cbox_Disabled">{{item}}</b>
              </td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
    <br><br>

    <div *ngIf="applicationStatus=='R'&& reasonList.length!=0">
      <table class="RejectedTable">
        <thead style="text-align: center; background-color: #32aa8d; color: white;">
          <b>Rejected Reasons</b>
        </thead>
        <div *ngFor="let data of reasonList; let i = index">
          <tbody _ngcontent-c61="">
            <tr _ngcontent-c61="" class="ng-star-inserted">
              <td class="Sno"><b>{{i+1}}</b>
              </td>&nbsp;
              <td _ngcontent-c61="" class="RejectedList">
                <b> <input type="hidden" [checked]="checkBoxSelected"
                    [disabled]="Cbox_Disabled">{{data.Description}}</b>
              </td>
            </tr>
          </tbody>
        </div>
        <!-- <div *ngFor="let item of AllcheckboxArray; let i = index;">
          <tbody _ngcontent-c61="">
            <tr _ngcontent-c61="" class="ng-star-inserted">
              <td class="Sno"><b>{{i+1}}</b>
              </td>&nbsp;
              <td _ngcontent-c61="" class="RejectedList">
                <b> <input type="hidden" [checked]="checkBoxSelected" [disabled]="Cbox_Disabled">{{item}}</b>
              </td>
            </tr>
          </tbody>
        </div> -->
      </table>
    </div>

    <!-- <div *ngIf="applicationStatus=='R'&& reasonList.length!=0" class="rejectedReasonsData">
      <div class="table_container">
        <nz-table [nzData]="reasonList" [nzShowPagination]=false nzSize="small" class="tranTbl">
          <thead>
            <tr>
              <th>
                <div style="margin-left: 34px;
                        word-break: normal;color: white;">Sl no</div>
              </th>
              <th>
                <div style="margin-left: -75pc;
                        text-align: center;color: white;">Reasons</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <div class="ReasonCheckbox reasons">
              <tr _ngcontent-c61="" class="ng-star-inserted" *ngFor="let data of reasonList; let i = index">
                <td class="checkBox">

                  <div><a><input class="Rcheckboxes" #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                        [checked]="checkBoxSelect" (change)="changed($event,data)"
                        [disabled]="applicationStatus=='R'" />
                    </a>
                  </div>
                </td>
                <td class="Sno"><span>{{i+1}}</span>
                </td>
                <td>
                  <label><span style="margin-left: 25%;
                    text-align: center;"> {{data.Description}}</span></label><br>
                </td><br>
              </tr>
            </div>
          </tbody>
        </nz-table>
      </div>
      <br>
    </div> -->
    <div nz-col nzMd="15"
      *ngIf="(applicationStatus=='P'||applicationStatus=='A'||applicationStatus=='R'||applicationStatus=='F')">
      <div nz-col nzSpan="5">Approval Remarks</div>
      <div nz-col nzSpan="15">
        <nz-form-item>
          <nz-form-control>
            <input nz-input [(ngModel)]="AppRemarks" name="apremark" [disabled]="applicationStatus!='P'&&!HO"
              [nzAutocomplete]="remarks1" />
            <nz-autocomplete #remarks1>
              <nz-auto-option *ngFor="let option of approvelRemarks" [nzValue]="option.Remarks"
                [nzLabel]="option.Remarks" class="aleternateColor">
                <span [innerHTML]="option.Remarks"></span>
              </nz-auto-option>
            </nz-autocomplete>
            <!-- <nz-select formControlName="country">
                        </nz-select> -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div *ngIf="applicationStatus=='P'">
      <div class="wrapper">
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Rejection Reasons" (nzOnCancel)="isVisible=false"
          (nzOnOk)="popOut()" nzWidth="850px" [nzBodyStyle]="{ height: '610px', 'padding-bottom':'53px' }"
          [nzStyle]="{top:'8px'}">
          <table>
            <thead>
              <div>
                <div class="SelectAll">
                  <div *ngIf="checkBoxArray.length==0 || checkedArray.length==0">
                    <div class="tooltip">
                      <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox" [checked]="checkBoxSelect"
                        (change)="onSaveCheckBoxChanged($event)" [disabled]="applicationStatus=='R'" />
                      <span class="tooltiptext">
                        Proceed with this selection only if all the reasons provided below
                        are
                        applicable
                      </span>
                    </div>
                  </div>
                </div>
                <div class="modalserialno">
                  <b>Sl No </b>
                </div>
                <div class="modalReasonList">
                  <b>Reasons</b>
                </div>
              </div>
            </thead>
            <br>
            <tbody class="">
              <div class="ReasonCheckbox">
                <div class="Popboxreasons ">
                  <tr class="ant-modal-body" *ngFor="let data of reasonsList; let i = index;">

                    <td>
                      <div><a><input class="PopupcheckBox" #saveUserNameCheckBox id="saveUserNameCheckBox"
                            type="checkbox" [checked]="checkboxSelected[i]" (change)="changed($event,data)"
                            [disabled]="applicationStatus=='R'" />
                        </a></div>
                    </td>
                    <td><span class="SLno">{{i+1}}</span>
                    </td>&nbsp;&nbsp;&nbsp;
                    <td _ngcontent-c61="">
                      <label><span class="RejectionList">{{data.Description}}</span></label><br>
                    </td>
                  </tr>
                  <br>
                </div>
              </div>
            </tbody>
          </table>
        </nz-modal>
      </div>
    </div>
  </div>


</form>
<app-loader *ngIf="isSpining"></app-loader>
<!-- </div> -->